h1	{
	text-align: center;
}

body {
	font-family: 'Mada', sans-serif;
}

p {
	text-align: center;
}

button {
	outline: none;
	border: none;
	border-radius: 10px;
	font-size: 13px;
}

button:hover {
	background: lightblue;
}

#squares-input {
	text-align: center;
}

#container {
	margin: 0 auto;
	margin-top: 30px;
	width: 600px;
	height: 600px;

}

.squares{
	background: black;
	float: left;
	border: gray solid 1px;
}

.activeButton {
	background: lightblue;
}